<html>

<head>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.css">
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="/public/javascript/actionheroClient.js"></script>
    <script type="text/javascript" src="public/javascript/chatserver.js"></script>
</head>



<body ng-app="actionheroChat">
    <div ng-controller="chatController">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">chatserver-homework</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <form class="navbar-form navbar-right" ng-show="chatClient.username">
                        <p class="navbar-text">Signed in as <span ng-bind="chatClient.username" />
                        </p>
                        <button ng-click="chatClient.logOut()" class="btn btn-default">Log Out</button>
                    </form>
                    <form class="navbar-form navbar-right" ng-hide="chatClient.username">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="username" ng-model="inputUsername">
                        </div>
                        <button ng-click="logOn()" class="btn btn-default">Log On</button>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div>
            <form name="myForm">
                say:
                <input type="text" name="inputMessage" ng-model="inputMessage.message" ng-minlength="1" ng-maxlength="20">
                <button ng-click="say()">say</button>
            </form>
        </div>
        <table class='table'>
            <thead>
                <tr>
                    <th colspan="6">Chat</th>
                </tr>
                <tr>
                    <td>
                        <strong>Who</strong>
                    </td>
                    <!-- <td>
                        <strong>When</strong>
                    </td> -->
                    <td>
                        <strong>Message</strong>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in chatClient.messages">
                    <td ng-bind="message.from"></td>
                    <!-- <td ng-bind="message.sentAt"></td> -->
                    <td ng-bind="message.text"></td>
                </tr>
            </tbody>
        </table>
</body>

</html>
